@{
    ViewBag.Title = "Panel";
}

@section HeadStyles{
    @Styles.Render("~/Content/css/ControlPanel")
    @Styles.Render("~/Content/Slick/css")
}

@section HeadScripts{
}

<h2>Panel de Control</h2>

@* Course navigation menu *@
<script type="text/x-kendo-template" id="menu-item">
    <li>
        <div class="eva-panel-list-container">
            <img class="eva-section-icon" src="/Content/images/#=imageName#" />
            <p class="eva-section-title">#= Title#</p>
            <div class="eva-clear-float"></div>
            <p class="eva-section-line">#= TextA#</p>
            <p class="eva-section-data">#= scoreA#</p>
            <p class="eva-section-line">#= TextB#</p>
            <p class="eva-section-data">#= scoreB#</p>
            <div class="eva-clear-float"></div>
        </div>
    </li>
</script>

@* My Courses display Card *@
<script type="text/x-kendo-template" id="my-Courses-card-template">
    <li>
        <div class="eva-course-catalog-card" data-bind="click: onClick">
            <img src="/Content/images/eva_logo_shadow.png" />
            <h3>#= enrollment.Course.title#</h3>
            <p>#= enrollment.Course.description#</p>
            <div class="eva-my-course-card-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Avance</h3>
                </div>
                <div class="panel-body">
                    @* change this to a percent if possible *@
                    #= enrollment.completedLessons#
                </div>
            </div>
            <div class="eva-my-course-card-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Calificación</h3>
                </div>
                <div class="panel-body">
                    #= enrollment.currentScore# / #= enrollment.Course.totalPoints#
                </div>
            </div>
            <div class="eva-my-course-card-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Plazo</h3>
                </div>
                <div class="panel-body">
                    Abierto
                </div>
            </div>
            <div class="eva-clear-float"></div>
        </div>
    </li>
</script>

@* Course Catalog display Card *@
<script type="text/x-kendo-template" id="course-catalog-card-template">
    <li>
        <div class="eva-course-catalog-card" data-bind="click: onClick">
            <img src="/Content/images/eva_logo_shadow.png" />
            <h3>#= course.title#</h3>
            <p>#= course.description#</p>
            <div class="eva-card-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Dedicación</h3>
                </div>
                <div class="panel-body">
                    #= course.commitmentHoursPerDay# / #= course.commitmentDays#
                </div>
            </div>
            <div class="eva-card-panel panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Número de Videos</h3>
                </div>
                <div class="panel-body">
                    #= course.totalLessons# 
                </div>
            </div>
            <div class="eva-clear-float"></div>
        </div>
    </li>
</script>

<script type="text/x-kendo-template" id="main-layout-template">
    <div id="left-menu-anchor" class="eva-left-menu"></div>
    <div id ="right-menu-anchor"class="eva-rigth-content-view"></div>
    <div class="eva-clear-float"></div>
</script>

<script type="text/x-kendo-template" id="left-menu-template">
    <p>Escuela Virtual Ambiental</p>
    <ul id="eva-panel"
        class="eva-panel-selection"
        data-role="listview"
        data-bind="source: items,  events: {change: onChange}"
        data-selectable="multiple"
        data-template="menu-item"></ul>
</script>

<script type="text/x-kendo-template" id="right-welcome-page-template">
    <p>Bienvenido a EVA</p>
    <div class="eva-main-slider">
        <div><img class="eva-panel-slider-image" src="/Content/images/eva_banner_2.jpg" /></div>
        <div><img class="eva-panel-slider-image" src="/Content/images/logos Eva-----07.jpg" /></div>
    </div>
</script>

<script type="text/x-kendo-template" id="right-myCourses-page-template">
    <p>Listado de cursos inscritos</p>
    <ul id="eva-myCourses"
        class="eva-myCourses-grid"
        data-role="listview"
        data-bind="source: items"
        data-template="my-Courses-card-template"></ul>
    
</script>
<script type="text/x-kendo-template" id="right-courseCatalog-page-template">
    <p>Catalogo de Cursos Disponibles</p>
    <ul id="eva-courseCatalog"
        class="eva-courseCatalog-grid"
        data-role="listview"
        data-bind="source: items"
        data-template="course-catalog-card-template"></ul>
</script>
<script type="text/x-kendo-template" id="right-requiredCourses-page-template">
    <p>Cursos Obligatorios</p>
</script>

@* start of visible elements *@
<div id="eva-control-panel-main-layout-anchor"></div>

@section FootScripts{
    <script type="text/javascript">
        var publicKey = "@ViewBag.publicKey"

        var targetRootUrl = "http://evacar.azurewebsites.net/api";
        var debugNET = false;

        @{if (HttpContext.Current.IsDebuggingEnabled)
            {
                @:targetRootUrl = "http://localhost:63052/api";
                @:debugNET = true;
            }
        }
</script>
    </script>
    @Scripts.Render("~/bundles/ControlPanel")
    
}
