@{
    ViewBag.Title = "LessonArea";
}
@Styles.Render("~/Content/css/LessonPanel")

<h2>Panel del Curso</h2>

<script type="text/x-kendo-template" id="main-layout-template">
    <div id="left-panel-anchor" class="eva-left-menu"></div>
    <div id="right-panel-anchor" class="eva-rigth-content-view"></div>
    <div class="eva-clear-float"></div>
</script>

<script type="text/x-kendo-template" id="chapter-item-template">
    <div class="eva-chapter-header">
        <h4>capitulo #= chapter.index#</h4>
        <p>#=chapter.title#</p>
        @* define here the child list view *@
        <div id="child-lesson-listview-#=chapter.index#" class="eva-lesson-list-container" data-evaselected="false"></div>
    </div>
</script>

<script type="text/x-kendo-template" id="lesson-item-template">
    <div class="eva-lesson-list-item">
        <div class="eva-image-indicator-container">
            <img src="/Content/images/eva_icon_pending.png" />
        </div>
        <h5>#= info.title#</h5>
        <p>#=info.description#</p>
    </div>
</script>

<script type="text/x-kendo-template" id="resource-files-template">
    <div><a href="" target="_blank" download data-bind="attr: { href: fileURL }"> <p>#= fileName#</p> </a></div>
</script>

<script type="text/x-kendo-template" id="question-item-template">
    @* take into account that we denormalized the question property *@
    # if (item.statement) { #
    # if (!item.isCorrect) { #
    <p class="eva-question-header">#: item.statement #</p>
    # } else {#
    <p class="eva-question-header">#: item.statement # - Correcto!</p>
    #}#
    # } else {#
    # if (!item.disabled) { #
    <input type="radio" name="#: item.QuestionID #" value="#: item.AnswerID #" id="#: item.AnswerID #" required >
    <label for="#: item.AnswerID #"> #: item.text # </label>
    # } else {#
    # if (!item.isCorrect) { #
    <input class="eva-question-correct" type="radio" name="#: item.QuestionID #" value="#: item.AnswerID #" id="#: item.AnswerID #" required disabled>
    <label for="#: item.AnswerID #"> #: item.text #</label>
    # } else {#
    <input class="eva-question-correct" type="radio" name="#: item.QuestionID #" value="#: item.AnswerID #" id="#: item.AnswerID #" required checked disabled>
    <label for="#: item.AnswerID #"> #: item.text #  - Correcto!</label>
    #}#
    #}#
    #}#
</script>

<script type="text/x-kendo-template" id="left-lessons-template">
    <p>Lecciones del Curso</p>
    <div id="eva-chapters-panel"
        class="eva-chapters-menu"></div>
</script>



<script type="text/x-kendo-template" id="right-course-welcome-template">
    <p>Bienvenido al Curso de EVA</p>
    <img class="eva-panel-slider-image" src="/Content/images/eva_banner_2.jpg" />
</script>

<script type="text/x-kendo-template" id="right-video-template">
    <video id="eva-video" class="eva-video-lesson" controls="controls">
        <source src="" type="video/mp4" /> 
    </video>
    <div id="tabstrip">
        <ul>
            <li class="k-state-active">
                Recursos
            </li>
            <li>
                Preguntas - Quiz
            </li>
            <li>
                Contacto
            </li>
        </ul>
        <div>
            <p>Archivos</p>
            @* the auto-bind = false prevent querying the data service the first time is bound  *@
            @* and requieres an explicit call to the read method on the dataSource *@
            <ul id="eva-resourceFiles"
                class="eva-resourceFiles-List"
                data-role="listview"
                data-bind="source: fileItems"
                data-auto-bind="false"
                data-template="resource-files-template"></ul>
        </div>
        <div>
            <p>Quiz</p>
            <form id="eva-quiz-form" data-bind='events: { submit: submitResponses }'>
                <div id="eva-quiz"
                     class="eva-quiz-list"
                     data-role="panelbar"
                     data-template="question-item-template"
                     data-auto-bind="false"
                     data-bind="source: questionItems, events: { select: onSelect }"></div>
                <button class="k-button k-primary" type="submit" > Evaluar !</button>
            </form>
        </div>
        <div>
            <p>Contacto con el profesor</p>
        </div>
    </div>
</script>

<script type="text/x-kendo-template" id="right-activity-upload-template">
    <div id="eva-activity-upload" class="eva-activity-upload-instructions">
        
    </div>
    @* Try to implement the file upload plus functionality, has some nice features *@
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="activityFile" value="" />
        <input type="submit" name="Cargar" value="Cargar" />
    </form>
</script>

<script type="text/x-kendo-template" id="right-minigame-iframe-template">
    <iframe name="miniGameIframe" id="miniGameIframe" src=""
            frameborder="0" border="0" cellspacing="0"
            class="eva-minigame-iframe"></iframe>
</script>

@* start of visible elements *@
<div id="eva-lesson-panel-main-layout-anchor"></div>

@*<p>Lecciones del Curso</p>
    <div id="eva-chapters-panel"
            class="eva-chapters-menu"></div>*@

@section FootScripts{
    <script type="text/javascript">
        var publicKey = "@ViewBag.publicKey"
        var courseID = "@ViewBag.courseID"
        var targetRootUrl = "http://evacar.azurewebsites.net/api";
        var debugNET = false;

        @{if (HttpContext.Current.IsDebuggingEnabled)
            {
                @:targetRootUrl = "http://localhost:63052/api";
                @:debugNET = true;
            }
        }
    </script>
    @Scripts.Render("~/bundles/LessonPanel")
}
