.eva-left-menu {
    border: 2px solid rgb(0,65,101);
    float:left;
    padding:4px;
    width:20%;
}

.eva-rigth-content-view {
    border: 2px solid rgb(0,65,101);
    padding:4px;
    width:80%;
    float:left;
}

.eva-left-menu ul {
    padding: 0;
    list-style-type: none;
}

.eva-rigth-content-view ul {
    padding: 0;
    list-style-type: none;
}

.eva-panel-slider-image {
    height:525px;
}

.eva-video-lesson {
    width:768px;
    height:432px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.eva-chapter-header {
    background-color:lightgreen;
    border-top: 2px solid gray;
}

.eva-chapter-header > h4{
    font-size:14px;
    font-weight:bold;
}

.eva-lesson-list-item {
    border-top: 1px solid lightgray;
}

.eva-lesson-list-item > h5 {
    font-size:14px;
    font-weight:bold;
    padding-left:30px;
}

.eva-lesson-list-item > p {
    font-size:13px;
    padding-left:30px;
    padding-bottom:5px;
    margin-bottom:5px;
}

.eva-image-indicator-container {
    position:absolute;
    width:30px;
    height:100%;
    float:left;
}

.eva-image-indicator-container img {
    width:30px;
}

.eva-resourceFiles-List div{
    padding-left:4px;
    padding-top:8px;
    padding-bottom:8px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.eva-quiz-list label{
    font-weight:normal;
    width:95%;
}

.eva-minigame-iframe {
    width:100%;
    height:720px;
}
