@{
    ViewBag.Title = "Acerca de EVA";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>La escuela virtual ambiental es una iniciativa de la direccion de la corporacion para empoderar
    a los empleados en la corporacion expandiendo su conocimiento </p>
