@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Corporacion Autonoma Regional de Cundinamarca CAR<br />
    Carrera 7 #36 45<br />
    <abbr title="Phone">Tel:</abbr>
    3209000
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:nromerob@car.gov.co.com">nromerob@car.gov.co</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">@*Marketing@example.com*@</a>
</address>