@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Escuela Virtual Ambiental</h1>
    <p class="lead">EVA es un aplicacion para extender su conocimiento.</p>
    <p class="lead">Inicie sesión para empezar a explorar el contenido.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
